<div class="bgcolor">
  <div class="all">
    <% @tweets.each do|tweet|%>
      <div class="index">
        <div class="index__items">
          <div class="index__items__left">
            <%= link_to user_path(tweet.user_id) do%>
              <img src="<%= tweet.user.image %>">
            <%end%>
          </div>
          <div class="index__items__right">
            <%= link_to tweet.user.name, user_path(tweet.user_id),class:"name" %>
            <p class="content"><%= tweet.text %></p>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>