<div class="bgcolor">
  <div class="edit">
    <div class="edit__title">
      <h5>アカウント編集</h5>
    </div>
    <div class="edit__form">
      <% form_for @user,url: user_path(@user.id) do |f| %>
        
      <% end %>
    </div>
  </div>
</div>