// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  height: 13vh;
  background-color:rgba(29,161,242,1.00);
  margin: 0px;
  padding: 0px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  &__icon{
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
  }
  .menu{
    display: flex;
    list-style: none;
    justify-content: flex-end;   
    align-items: center;
    li{
      color: white;
      font-weight: bold;
      padding-right:20px;
    }
  }
}
.index{
  background-color: lightgray;
  width: 60vw;
  margin: 0 auto;

}